<footer>
    <div class="container border-top  justify-content-between d-flex">
        <div class=" py-3">
            <span>
                
                2025 Airbnb,Inc.
                
            </span>
            <span>.</span>
            <span>
                <ul class="list-unstyled d-inline-block">
                    <li class="d-inline-block">
                        Privacy
                    </li>
                                <span>.</span>

                    <li class="d-inline-block"  >
                        Privacy
                    </li>
                                <span>.</span>

                    <li class="d-inline-block">
                        Privacy
                    </li>
                             <span>.</span>

                    <li class="d-inline-block">
                        Privacy
                    </li>
                </ul    >
            </span>
        </div>
        <div class=" bg-success">kjhgfd</div>
    </div>
</footer>