<nav class="navbar navbar-expand-md bg-body-light bg-white sticky-top border-bottom p-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><i class="fa-solid fa-compass"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link text-dark  fs-5" href="#">Home</a>
        <a class="nav-link text-dark fs-5" href="/listings">All listings</a>
        <a class="nav-link text-dark fs-5" href="/listings/new">new listing</a>
      </div>
       <div class="navbar-nav ms-auto">
        <a class="nav-link text-dark  fs-5" href="/signup">signup</a>
        <a class="nav-link text-dark fs-5" href="/login">login</a>
        <a class="nav-link text-dark fs-5" href="/logout">logout</a>
      </div>
    </div>
  </div>
</nav>