<% layout("/layouts/boilerplate")%>

    <body>
        <h3>All listings</h3>
        <!-- <form method="GET" action="/listings/new">
        <button>Create New  Listing</button>
    </form> -->
        <div class="row ">
            <% for(let listing of allListings) {%>
                <div
                    class="col col-lg-3 col-md-5 justify-content-center  align-items-center d-flex flex-nowrap col-sm-11">
                    <div class="card border-0 " style="width: 20rem;">
                        <a href="/listings/<%=listing._id%>" class="text-decoration-none text-dark ">

                            <img src="<%=listing.image.url%>" class="card-img-top rounded " alt="listing_image">
                            <div class="card-img-overlay"></div>
                            <div class="card-body">
                                <p class="card-text">
                                    <b>
                                        <%=listing.title %><br>
                                    </b>
                                </p>

                                <p> $<%=listing.price %>
                                

                                </p>
                            </div>
                        </a>
                    </div>
                </div>
                

                <%}%>
        </div>



    </body>